.bold {
    color: black;
    font-weight:bold;
    text-decoration: underline;
}

#instructBox {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }

p {
    font-size: larger;
}
  